/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.DS_Store
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.hg
.svn
.CVS
intermediate
publish
.idea
